@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
    background: url(evgeni-tcherkasski-f25Zz7connY-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    transition: .5s ease-in-out;
    border: none;
    background: rgba(0, 0, 0, 0.58);;
    width: 269px;
    height: 265px;
}

.center input {
    font-size: 15px;
    outline: none;
    border-radius: 15px;
    border: none;
    font-family: "Inter", sans-serif;
    background: rgba(0, 0, 0, 0.58);;
    color: white;
    font-size: 1.5vw;
}
.search input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.65);
}

.center button {
    background: rgba(0, 0, 0, 0.58);;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 1vw;
    box-shadow: -5px 10px 45px black;
    cursor: pointer;
}

.center button:hover {
    background: #000000ba;
}

.search {
    display: flex;
    align-items: center;
    
}

.info h2 {
    margin: 10px 0;
    font-size: 2.1vw;
}

.info p {
    font-size: 1.45vw;
}

.info #type {
    display: flex;
    position: absolute;
    bottom: 60%;
    right: 9%;
    background: rgba(0, 0, 0, 0.58);;
    background-size: 500px;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 8px 2px 4px;
    margin: 0;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}

.info #type:hover {
    background: #000000ba;
}

.feels-like{
    display: flex;
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -95%);
    padding: 15px;
    border-radius: 15px;
    transition: .5s ease-in-out;
    border: none;
    background: rgba(0, 0, 0, 0.58);;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    height: 125px;
    align-items: flex-start;

}

#title-feel {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
}

#temp-feel {
    color: white;
    font-size: 24px;
}

#feel-note {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
}

.uv-index{
    display: flex;
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -5%);
    padding: 15px;
    border-radius: 15px;
    transition: .5s ease-in-out;
    border: none;
    background: rgba(0, 0, 0, 0.58);;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    height: 125px;
    align-items: flex-start;
}

.uv-index #uv-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
}

.uv-index #rating {
    font-size: 22px;
    color: white;
}

.uv-index #index-num {
    font-size: 22px;
    color: white;
}

.uv-index #uv-note {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 1024px) {
    .center button {
        font-size: 2vw;
    }
    .center input {
        font-size: 3vw;
    }
    .info p {
        font-size: 2.9vw;
    }
    .info h2 {
        font-size: 5vw;
    }
    .info h3 {
        font-size: 3.5vw;
    }
    .center {
        border-radius: 42px;
    }
    .info #type {
        font-size: 19px;
    }
}