@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    background: url(evgeni-tcherkasski-f25Zz7connY-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: .5s ease-in-out;
}

.center {
    font-family: 'Spectral', serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    transition: .5s ease-in-out;
    border: none;
    background: rgba(0, 0, 0, 0.58);;
}

.center input {
    outline: none;
    border-radius: 8.5px;
    border: none;
    font-family: 'Spectral', serif;
    background: rgba(0, 0, 0, 0.58);;
    color: white;
    font-size: 1.5vw;
}

.center button {
    background: rgba(0, 0, 0, 0.58);;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 1vw;
    box-shadow: -5px 10px 45px black;
}

.center button:hover {
    background: #000000ba;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    
}

.info h3 {
    font-size: 1.6vw;
    margin: 20px 0 0 0;
}

.info h2 {
    margin: 10px 0;
    font-size: 2.1vw;
}

.info p {
    font-size: 1.45vw;
}

.info #type {
    position: absolute;
    bottom: 60%;
    right: 9%;
    background: rgba(0, 0, 0, 0.58);;
    background-size: 500px;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 8px 2px 4px;
    margin: 0;
    font-size: 17px;
    font-family: 'Spectral', serif;
}
.info #type:hover {
    background: #000000ba;
}

@media screen and (max-width: 1024px) {
    .center button {
        font-size: 2vw;
    }
    .center input {
        font-size: 3vw;
    }
    .info p {
        font-size: 2.9vw;
    }
    .info h2 {
        font-size: 5vw;
    }
    .info h3 {
        font-size: 3.5vw;
    }
    .center {
        border-radius: 42px;
    }
    .info #type {
        font-size: 19px;
    }
}

@media (prefers-color-scheme:dark) {
    .center {
        background: rgba(0, 0, 0, 0.58);;
    }
    .center button {
        background: rgba(0, 0, 0, 0.58);;
    }
}